.Input {
  position: relative;

  input {
    width: 100%;

    // &:focus {
    //   ~ .Suggestions {
    //     display: block;
    //   }
    // }
  }

  .Suggestions {
    // display: none;
    background: #f1f1f1;
    width: 100%;
    position: absolute;
    max-height: 200px;
    overflow: auto;
    z-index: 5;

    .Item {
      cursor: pointer;
      padding: 0 12px;
      margin-bottom: 6px;
    }
  }
}
