@use 'styles/breakpoints' as *;

.Container {
  @include container;
  padding-top: 48px;

  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include medium {
      flex-direction: row;
    }

    .Image {
      width: 100%;

      @include medium {
        width: 65%;
      }
    }

    .Content {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 32px;

      @include medium {
        width: 35%;
        margin-bottom: 0;
      }

      .Berat {
        width: 100%;
        display: flex;
        border: 1px solid black;

        input {
          flex: 1;
          border: none;

          &:focus {
            outline: none;
          }
        }

        span {
          padding-right: 6px;
        }
      }

      input {
        padding-left: 8px;
      }

      .Submit {
        background: black;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 600;
        cursor: pointer;
        color: white;
        border: none;
        padding: 10px 0;

        &:hover,
        &:active {
          background: #383838;
        }

        &:disabled {
          background: rgb(172, 172, 172);
          cursor: not-allowed;
        }
      }
    }
  }
}
