@use 'styles/breakpoints' as *;

.Cost {
  width: 100%;
  margin-bottom: 48px;
  padding: 32px;

  @include small {
    padding: 0;
  }

  .Table {
    width: 100%;

    .HeadingRow {
      background: black;
      color: white;
      height: 56px;
    }

    .Row {
      background: white;
      height: 48px;

      &:nth-child(odd) {
        background: #d3d3d3;
      }

      td {
        text-align: center;
      }
    }
  }
}
